.legal-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10%;
    margin-top: 50px;
}

.legal-content {
    width: 80%;
}


.legal-content h2:not(h2.title-legal) {
     text-align: center;
}

.legal-content h2:not(:first-of-type) {
    margin-top: 40px;
}
